### Data Cleaning for KAP Surveys

##### Cleaning KAP Survey #1 and #2 data AND participatory SGD workshop data for later analysis

###### 14/07/2021 at 23:30 CEST

In [1]:
# import necessary libraries
import os
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
plt.style.use('seaborn-pastel')

In [2]:
# change working directory to a specified directory
os.chdir('../')
print("Directory Changes")

# Get current working directory
cwd = os.getcwd()
print("Current working directory is:", cwd)

Directory Changes
Current working directory is: C:\Users\Carol\Documents\EPA_2020_2021\Thesis\Analysis\KAP_Analysis

In [85]:
# read in csv data
kap1 = pd.read_csv("data/raw/1KAPSurvey_Total.csv")
kap2 = pd.read_csv("data/raw/2KAPSurvey_Total.csv")
sd = pd.read_csv("data/raw/SocialDesirabilitySurvey_Total.csv")
sgd = pd.read_csv("data/raw/2KAPSurvey_Total.csv")

## KAP 1

In [4]:
#gain insight into kap1
kap1.shape

(51, 30)

In [5]:
# gain insight into kap1
kap1.head(10)

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q1Q2Q3_3,Q4,Q5Q6Q7_1,Q5Q6Q7_2,Q5Q6Q7_3,Q8,Q9Q10Q11_1,Q9Q10Q11_2,Q9Q10Q11_3,Q12
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,Please indicate how much you agree/disagree wi...,Racial disparities in public safety still exis...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,White people are more likely to be stopped by ...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,"Historically, law enforcement has been entangl..."
1,"{""ImportId"":""startDate"",""timeZone"":""America/Lo...","{""ImportId"":""endDate"",""timeZone"":""America/Los_...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID4_3""}","{""ImportId"":""QID10""}","{""ImportId"":""QID7_1""}","{""ImportId"":""QID7_2""}","{""ImportId"":""QID7_3""}","{""ImportId"":""QID11""}","{""ImportId"":""QID8_1""}","{""ImportId"":""QID8_2""}","{""ImportId"":""QID8_3""}","{""ImportId"":""QID9""}"
2,03/08/2021 13:36,03/08/2021 13:38,IP Address,73.9.31.16,100,77,TRUE,03/08/2021 13:38,R_1dh4bM0xcs7N8hh,NaN,...,Somewhat agree,TRUE,Somewhat disagree,Somewhat agree,Neither agree nor disagree,TRUE,Neither agree nor disagree,Somewhat disagree,Neither agree nor disagree,TRUE
3,03/08/2021 13:37,03/08/2021 13:38,IP Address,70.59.74.66,100,88,TRUE,03/08/2021 13:38,R_roqopDBUD1FotDr,NaN,...,Strongly agree,TRUE,Neither agree nor disagree,Somewhat disagree,Strongly disagree,FALSE,Strongly agree,Somewhat disagree,Somewhat agree,TRUE
4,03/08/2021 13:34,03/08/2021 13:38,IP Address,70.233.105.6,100,267,TRUE,03/08/2021 13:38,R_1fm71kRyDFL5Sjz,NaN,...,Strongly agree,TRUE,Somewhat agree,Strongly agree,Somewhat agree,FALSE,Strongly agree,Somewhat agree,Somewhat disagree,I Dont Know
5,03/08/2021 13:36,03/08/2021 13:39,IP Address,68.195.20.120,100,131,TRUE,03/08/2021 13:39,R_3fcRoQYFcR8H6TV,NaN,...,Strongly agree,TRUE,Neither agree nor disagree,Somewhat disagree,Strongly disagree,FALSE,Strongly agree,Strongly disagree,Strongly agree,TRUE
6,03/08/2021 13:38,03/08/2021 13:40,IP Address,148.75.250.139,100,93,TRUE,03/08/2021 13:40,R_3lVScP1DduIv0SF,NaN,...,Strongly disagree,TRUE,Somewhat agree,Strongly agree,Strongly disagree,FALSE,Strongly agree,Somewhat disagree,Somewhat agree,TRUE
7,03/08/2021 13:38,03/08/2021 13:40,IP Address,75.84.33.62,100,134,TRUE,03/08/2021 13:40,R_4N44yKBCs72JucV,NaN,...,Somewhat disagree,TRUE,Strongly agree,Somewhat disagree,Somewhat disagree,I Dont Know,Strongly agree,Somewhat agree,Somewhat agree,TRUE
8,03/08/2021 13:37,03/08/2021 13:40,IP Address,24.9.195.202,100,179,TRUE,03/08/2021 13:40,R_ULppinlxNQ9uZDH,NaN,...,Neither agree nor disagree,TRUE,Strongly agree,Somewhat agree,Strongly disagree,FALSE,Neither agree nor disagree,Somewhat disagree,Neither agree nor disagree,TRUE
9,03/08/2021 13:38,03/08/2021 13:40,IP Address,68.169.135.24,100,124,TRUE,03/08/2021 13:40,R_3qUsCnYvrxLlfM4,NaN,...,Strongly agree,TRUE,Somewhat agree,Somewhat disagree,Somewhat disagree,FALSE,Somewhat agree,Somewhat disagree,Somewhat agree,TRUE

In [6]:
# get names of columns
print(kap1.columns)

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Random ID', 'Q1Q2Q3_1',
       'Q1Q2Q3_2', 'Q1Q2Q3_3', 'Q4', 'Q5Q6Q7_1', 'Q5Q6Q7_2', 'Q5Q6Q7_3', 'Q8',
       'Q9Q10Q11_1', 'Q9Q10Q11_2', 'Q9Q10Q11_3', 'Q12'],
      dtype='object')

In [7]:
# drop unnecessary unnecessary columns in kap1
kap1 = kap1.drop(['Progress','StartDate','EndDate', 'Status', 'IPAddress', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
                  'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference', 'LocationLatitude', 'LocationLongitude',
                 'DistributionChannel', 'UserLanguage'], axis = 1)

In [8]:
# drop unnecessary rows
kap1.dropna(subset = ["Random ID"], inplace = True)
kap1 = kap1.iloc[2:]

In [9]:
# drop duplicates
kap1 = kap1.drop_duplicates(subset= 'Random ID', keep='first', inplace=False)

In [10]:
# reset index to "Random ID"
kap1.set_index(["Random ID"], inplace = True, append = True, drop = True)
kap1.reset_index(inplace = True)
kap1.head(10)

,level_0,Random ID,Q1Q2Q3_1,Q1Q2Q3_2,Q1Q2Q3_3,Q4,Q5Q6Q7_1,Q5Q6Q7_2,Q5Q6Q7_3,Q8,Q9Q10Q11_1,Q9Q10Q11_2,Q9Q10Q11_3,Q12
0,2,9292685410,Neither agree nor disagree,Somewhat agree,Somewhat agree,TRUE,Somewhat disagree,Somewhat agree,Neither agree nor disagree,TRUE,Neither agree nor disagree,Somewhat disagree,Neither agree nor disagree,TRUE
1,3,3955286470,Strongly disagree,Strongly agree,Strongly agree,TRUE,Neither agree nor disagree,Somewhat disagree,Strongly disagree,FALSE,Strongly agree,Somewhat disagree,Somewhat agree,TRUE
2,4,8719080354,Somewhat agree,Strongly agree,Strongly agree,TRUE,Somewhat agree,Strongly agree,Somewhat agree,FALSE,Strongly agree,Somewhat agree,Somewhat disagree,I Dont Know
3,5,3421154104,Strongly disagree,Strongly agree,Strongly agree,TRUE,Neither agree nor disagree,Somewhat disagree,Strongly disagree,FALSE,Strongly agree,Strongly disagree,Strongly agree,TRUE
4,6,1878269020,Strongly disagree,Strongly agree,Strongly disagree,TRUE,Somewhat agree,Strongly agree,Strongly disagree,FALSE,Strongly agree,Somewhat disagree,Somewhat agree,TRUE
5,7,4855207987,Neither agree nor disagree,Strongly agree,Somewhat disagree,TRUE,Strongly agree,Somewhat disagree,Somewhat disagree,I Dont Know,Strongly agree,Somewhat agree,Somewhat agree,TRUE
6,8,6034387383,Strongly disagree,Strongly agree,Neither agree nor disagree,TRUE,Strongly agree,Somewhat agree,Strongly disagree,FALSE,Neither agree nor disagree,Somewhat disagree,Neither agree nor disagree,TRUE
7,9,9237049872,Somewhat disagree,Strongly agree,Strongly agree,TRUE,Somewhat agree,Somewhat disagree,Somewhat disagree,FALSE,Somewhat agree,Somewhat disagree,Somewhat agree,TRUE
8,10,8645952153,Somewhat disagree,Strongly agree,Strongly agree,TRUE,Somewhat disagree,Somewhat agree,Strongly disagree,FALSE,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,TRUE
9,11,3413361853,Somewhat disagree,Strongly agree,Somewhat agree,TRUE,Somewhat agree,Strongly agree,Somewhat disagree,FALSE,Strongly agree,Somewhat disagree,Somewhat agree,TRUE

In [11]:
# drop "level_0" column
kap1 = kap1.drop(['level_0'], axis = 1)

#### Where:

Q1Q2Q3_1 = Q1, 
* "I have confidence in the police to address community concerns address community."
* (Q2_9 in Appendix A)
* Attitude about Policing in Communities

Q1Q2Q3_2 = Q2
* "I feel warmly towards black people."
* (Q1_1 in Appendix A)
* Attitude about Explicit Racism

Q1Q2Q3_3 = Q3
* "I would participate in a community-oriented policing (COP) initiative locally if invited."
* (Q2_15 in Appendix A)
* Practice about Policing in Communities

Q4 = Q4
* "Racial disparities in public safety still exist today."
* (Q8 in Appendix A)
* Knowledge about Policing in Communities

Q5Q6Q7_1 = Q5
* "I feel warmly towards white people."
* (Q1_2 in Appendix A)
* Attitude about Explicit Racism

Q5Q6Q7_2 = Q6
* "I would contact community members within organizations that collaborate with the police for help with addressing community-specific problems."
* (Q2_14 in Appendix A
* Practice about Policing in Communities

Q5Q6Q7_3 = Q7
* "I trust the police."
* (Q2_7 in Appendix A)
* Attitude about Policing in Communities

Q8 = Q8
* "White people are more likely to be stopped by the police than folks that are Black, Indigenous, and People of Color (BIPOC)."
* (Q10 in Appendix A)
* Knowledge about Policing in Communities

Q9Q10Q11_1 = Q9
* "Black people are peaceful."
* (Q1_4 in Appendix A)
* Attitude about Explicit Racism

Q9Q10Q11_2 = Q10
* "I am comfortable communicating with the police."
* (Q2_11 in Appendix A)
* Attitude about Policing in Communities

Q9Q10Q11_3 = Q11
* "I have confidence in communities to offer aid to police for addressing community concerns."
* (Q2_10 in Appendix A)
* Practice about Policing in Communities

Q12 = Q12
* "Historically, law enforcement has been entangled with white supremacy and associated hate groups."
* (Q10 in Appendix A)
* Knowledge about Policing in Communities

In [12]:
# rename columns
kap1.columns = ['RandomID', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12']

#### recode Likert Scale wording to numbers where:

* "Strong disagree" = 1
* "Somewhat disagree" = 2
* "Neither agree nor disagree" = 3
* "Somewhat agree" = 4
* "Strongly agree" =5

In [13]:
# recode Likert Scale wording to numbers
for i in range(len(kap1)):
    if 'Strongly disagree' in kap1.values:
        kap1 = kap1.replace("Strongly disagree", 1)
    if 'Somewhat disagree' in kap1.values:
        kap1 = kap1.replace("Somewhat disagree", 2)
    if 'Neither agree nor disagree' in kap1.values:
        kap1 = kap1.replace("Neither agree nor disagree", 3)
    if 'Somewhat agree' in kap1.values:
        kap1 = kap1.replace("Somewhat agree", 4)    
    if 'Strongly agree' in kap1.values:
        kap1 = kap1.replace("Strongly agree", 5)

In [14]:
# gain insight into kap1
kap1.head()

,RandomID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12
0,9292685410,3,4.0,4,TRUE,2,4,3.0,TRUE,3,2,3,TRUE
1,3955286470,1,5.0,5,TRUE,3,2,1.0,FALSE,5,2,4,TRUE
2,8719080354,4,5.0,5,TRUE,4,5,4.0,FALSE,5,4,2,I Dont Know
3,3421154104,1,5.0,5,TRUE,3,2,1.0,FALSE,5,1,5,TRUE
4,1878269020,1,5.0,1,TRUE,4,5,1.0,FALSE,5,2,4,TRUE

### Constructs

#### Create construct dataframes where:

Knowledge about Policing in Communities:
* Q4, Q8, and Q12

Attitude about Policing in Communities:
* Q1, Q7, Q10

Attitude about Explicit Racism
* Q2, Q5, Q9

Practice about Policing in Communities
* Q3, Q6, Q11

#### Knowledge Construct

where the correct answer to each question is as follows:

Q4 = True
* (Q8 in Appendix A)


Q8 = False
* (Q10 in Appendix A)

Q12 = True
* (Q7 in Appendix A)

In [15]:
# create Knowledge about Policing in Communities construct
k_pc = kap1.drop(['Q1', 'Q2', 'Q3', 'Q5', 'Q6', 'Q7', 'Q9', 'Q10', 'Q11'], axis = 1)

In [16]:
k_pc.head()

     RandomID    Q4     Q8          Q12
0  9292685410  TRUE   TRUE         TRUE
1  3955286470  TRUE  FALSE         TRUE
2  8719080354  TRUE  FALSE  I Dont Know
3  3421154104  TRUE  FALSE         TRUE
4  1878269020  TRUE  FALSE         TRUE

In [17]:
# recode True/False/I Don't Know Questions to 1 for correct answers and 0 for wrong answers
# Q4
k_pc.loc[k_pc.Q4 == 'TRUE', 'Q4'] = 1
k_pc.loc[k_pc.Q4 == 'FALSE', 'Q4'] = 0
k_pc.loc[k_pc.Q4 == "I Dont Know", 'Q4'] = 0

# Q8
k_pc.loc[k_pc.Q8 == 'TRUE', 'Q8'] = 0
k_pc.loc[k_pc.Q8 == 'FALSE', 'Q8'] = 1
k_pc.loc[k_pc.Q8 == "I Dont Know", 'Q8'] = 0

# Q12
k_pc.loc[k_pc.Q12 == 'TRUE', 'Q12'] = 1
k_pc.loc[k_pc.Q12 == 'FALSE', 'Q12'] = 0
k_pc.loc[k_pc.Q12 == "I Dont Know", 'Q12'] = 0

In [18]:
# convert to numeric types
k_pc['Q4'], k_pc['Q8'], k_pc['Q12'] = pd.to_numeric(k_pc['Q4']), pd.to_numeric(k_pc['Q8']), pd.to_numeric(k_pc['Q12'])

In [19]:
# add column with the calculated mean value for the k_pc construct
k_pc['mean k_pc'] = k_pc[['Q4', 'Q8', 'Q12']].mean(axis=1)

In [20]:
# gain insight into k_pc
k_pc.head()

     RandomID  Q4  Q8  Q12  mean k_pc
0  9292685410   1   0    1   0.666667
1  3955286470   1   1    1   1.000000
2  8719080354   1   1    0   0.666667
3  3421154104   1   1    1   1.000000
4  1878269020   1   1    1   1.000000

In [21]:
# create Attitude about Policing in Communities construct
a_pc = kap1.drop(['Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q9', 'Q11', 'Q12'], axis = 1)

In [22]:
# add column with the calculated mean value for the a_pc construct
a_pc['mean a_pc'] = a_pc[['Q1', 'Q7', 'Q10']].mean(axis=1)

In [23]:
# gain insight into a_pc
a_pc.head()

     RandomID  Q1   Q7  Q10  mean a_pc
0  9292685410   3  3.0    2   2.666667
1  3955286470   1  1.0    2   1.333333
2  8719080354   4  4.0    4   4.000000
3  3421154104   1  1.0    1   1.000000
4  1878269020   1  1.0    2   1.333333

In [24]:
# create Attitude about Explicit Racism construct
a_er = kap1.drop(['Q1', 'Q3', 'Q4', 'Q6', 'Q7', 'Q8', 'Q10', 'Q11', 'Q12'], axis = 1)

In [25]:
# add column with the calculated mean value for the a_er construct
a_er['mean a_er'] = a_er[['Q2', 'Q5', 'Q9']].mean(axis=1)

In [26]:
# gain insight into a_er
a_er.head()

     RandomID   Q2  Q5  Q9  mean a_er
0  9292685410  4.0   2   3   3.000000
1  3955286470  5.0   3   5   4.333333
2  8719080354  5.0   4   5   4.666667
3  3421154104  5.0   3   5   4.333333
4  1878269020  5.0   4   5   4.666667

In [27]:
# create Practice about Policing in Communities construct
p_pc = kap1.drop(['Q1', 'Q2', 'Q4', 'Q5', 'Q7', 'Q8', 'Q9', 'Q10', 'Q12'], axis = 1)

In [28]:
# add column with the calculated mean value for the p_pc construct
p_pc['mean p_pc'] = p_pc[['Q3', 'Q6', 'Q11']].mean(axis=1)

In [29]:
# gain insight into p_pc
p_pc.head()

     RandomID  Q3  Q6  Q11  mean p_pc
0  9292685410   4   4    3   3.666667
1  3955286470   5   2    4   3.666667
2  8719080354   5   5    2   4.000000
3  3421154104   5   2    5   4.000000
4  1878269020   1   5    4   3.333333

In [30]:
# recode True/False/I Don't Know Questions to 1 for correct answers and 0 for wrong answers
# Q4
kap1.loc[kap1.Q4 == 'TRUE', 'Q4'] = 1
kap1.loc[kap1.Q4 == 'FALSE', 'Q4'] = 0
kap1.loc[kap1.Q4 == "I Dont Know", 'Q4'] = 0

# Q8
kap1.loc[kap1.Q8 == 'TRUE', 'Q8'] = 0
kap1.loc[kap1.Q8 == 'FALSE', 'Q8'] = 1
kap1.loc[kap1.Q8 == "I Dont Know", 'Q8'] = 0

# Q12
kap1.loc[kap1.Q12 == 'TRUE', 'Q12'] = 1
kap1.loc[kap1.Q12 == 'FALSE', 'Q12'] = 0
kap1.loc[kap1.Q12 == "I Dont Know", 'Q12'] = 0

In [31]:
# bring mean construct scores into kap1 df where a_pc, a_er, p_pc are all on the same scale 1-5 and k_pc is on its own scale of 0-1
# kap1['pre mean a_pc'] = (kap1['Q1'] + kap1['Q7'] + kap1['Q10'])/3
# kap1['pre mean a_er'] = (kap1['Q2'] + kap1['Q5'] + kap1['Q9'])/3
# kap1['pre mean p_pc'] = (kap1['Q3'] + kap1['Q6'] + kap1['Q11'])/3
# kap1['pre mean k_pc'] = (kap1['Q4'] + kap1['Q8'] + kap1['Q12'])/3

kap1['pre mean a_pc'] = kap1[['Q1', 'Q7', 'Q10']].mean(axis=1)
kap1['pre mean a_er'] = kap1[['Q2', 'Q5', 'Q9']].mean(axis=1)
kap1['pre mean p_pc'] = kap1[['Q3', 'Q6', 'Q11']].mean(axis=1)
kap1['pre mean k_pc'] = kap1[['Q4', 'Q8', 'Q12']].mean(axis=1)

In [32]:
# gain insight into kap1
kap1.head()

,RandomID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,pre mean a_pc,pre mean a_er,pre mean p_pc,pre mean k_pc
0,9292685410,3,4.0,4,1,2,4,3.0,0,3,2,3,1,2.666667,3.000000,3.666667,0.666667
1,3955286470,1,5.0,5,1,3,2,1.0,1,5,2,4,1,1.333333,4.333333,3.666667,1.000000
2,8719080354,4,5.0,5,1,4,5,4.0,1,5,4,2,0,4.000000,4.666667,4.000000,0.666667
3,3421154104,1,5.0,5,1,3,2,1.0,1,5,1,5,1,1.000000,4.333333,4.000000,1.000000
4,1878269020,1,5.0,1,1,4,5,1.0,1,5,2,4,1,1.333333,4.666667,3.333333,1.000000

## KAP 2

In [33]:
#gain insight into kap2
kap2.shape

(45, 42)

In [34]:
# gain insight into kap2
kap2.head(5)

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,SGDQ1234567891011_2,SGDQ1234567891011_3,SGDQ1234567891011_4,SGDQ1234567891011_5,SGDQ1234567891011_6,SGDQ1234567891011_7,SGDQ1234567891011_8,SGDQ1234567891011_9,SGDQ1234567891011_10,SGDQ1234567891011_11
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...
1,"{""ImportId"":""startDate"",""timeZone"":""America/Lo...","{""ImportId"":""endDate"",""timeZone"":""America/Los_...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID12_2""}","{""ImportId"":""QID12_3""}","{""ImportId"":""QID12_4""}","{""ImportId"":""QID12_5""}","{""ImportId"":""QID12_6""}","{""ImportId"":""QID12_7""}","{""ImportId"":""QID12_8""}","{""ImportId"":""QID12_10""}","{""ImportId"":""QID12_9""}","{""ImportId"":""QID12_11""}"
2,04/08/2021 14:50,04/08/2021 14:52,IP Address,65.183.131.208,100,111,TRUE,04/08/2021 14:52,R_2b2XxLfMus3CiyL,NaN,...,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree
3,04/08/2021 14:50,04/08/2021 14:52,IP Address,65.183.131.208,100,133,TRUE,04/08/2021 14:53,R_uyITxMh8h2DAx6F,NaN,...,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Strongly agree
4,04/08/2021 14:51,04/08/2021 14:53,IP Address,65.183.131.208,100,148,TRUE,04/08/2021 14:53,R_3hbbgcgpXpeOPE1,NaN,...,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree

In [35]:
# get names of columns
print(kap2.columns)

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Random ID', 'Q*', 'Q1Q2Q3_1',
       'Q1Q2Q3_2', 'Q1Q2Q3_3', 'Q4', 'Q5Q6Q7_1', 'Q5Q6Q7_2', 'Q5Q6Q7_3', 'Q8',
       'Q9Q10Q11_1', 'Q9Q10Q11_2', 'Q9Q10Q11_3', 'Q12', 'SGDQ1234567891011_1',
       'SGDQ1234567891011_2', 'SGDQ1234567891011_3', 'SGDQ1234567891011_4',
       'SGDQ1234567891011_5', 'SGDQ1234567891011_6', 'SGDQ1234567891011_7',
       'SGDQ1234567891011_8', 'SGDQ1234567891011_9', 'SGDQ1234567891011_10',
       'SGDQ1234567891011_11'],
      dtype='object')

In [36]:
# drop unnecessary unnecessary columns in kap2
kap2 = kap2.drop(['StartDate','EndDate', 'Status', 'IPAddress', 'Progress', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
                  'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference', 'LocationLatitude', 'LocationLongitude',
                 'DistributionChannel', 'UserLanguage', 'SGDQ1234567891011_1','SGDQ1234567891011_2', 'SGDQ1234567891011_3', 'SGDQ1234567891011_4',
                  'SGDQ1234567891011_5', 'SGDQ1234567891011_6', 'SGDQ1234567891011_7','SGDQ1234567891011_8', 'SGDQ1234567891011_9', 'SGDQ1234567891011_10',
                  'SGDQ1234567891011_11'], axis = 1)

In [37]:
# drop unnecessary rows
kap2.dropna(subset = ["Random ID"], inplace = True)
kap2 = kap2.iloc[2:]

In [38]:
# drop duplicates
kap2 = kap2.drop_duplicates(subset= 'Random ID', keep='first', inplace=False)

In [39]:
# reset index to "Random ID"
kap2.set_index(["Random ID"], inplace = True, append = True, drop = True)
kap2.reset_index(inplace = True)
kap2.head(10)

,level_0,Random ID,Q*,Q1Q2Q3_1,Q1Q2Q3_2,Q1Q2Q3_3,Q4,Q5Q6Q7_1,Q5Q6Q7_2,Q5Q6Q7_3,Q8,Q9Q10Q11_1,Q9Q10Q11_2,Q9Q10Q11_3,Q12
0,2,8194933674,A1,Somewhat disagree,Strongly agree,Somewhat agree,TRUE,Strongly agree,Somewhat agree,Somewhat disagree,FALSE,Strongly agree,Strongly disagree,Neither agree nor disagree,TRUE
1,3,9542137183,A1,Somewhat disagree,Strongly agree,Somewhat agree,TRUE,Somewhat agree,Somewhat agree,Strongly disagree,FALSE,Somewhat agree,Somewhat disagree,Somewhat disagree,TRUE
2,4,8323282184,A1,Somewhat disagree,Neither agree nor disagree,Neither agree nor disagree,TRUE,Neither agree nor disagree,Somewhat agree,Somewhat disagree,FALSE,Neither agree nor disagree,Somewhat disagree,Somewhat agree,TRUE
3,5,4165424527,A1,Neither agree nor disagree,Somewhat agree,Somewhat agree,TRUE,Somewhat agree,Neither agree nor disagree,Neither agree nor disagree,FALSE,Strongly agree,Neither agree nor disagree,Neither agree nor disagree,I Dont Know
4,6,3648895874,A2,Neither agree nor disagree,Strongly agree,Somewhat disagree,TRUE,Somewhat agree,Somewhat disagree,Neither agree nor disagree,I Dont Know,Strongly agree,Neither agree nor disagree,Neither agree nor disagree,I Dont Know
5,7,7414114848,A2,Neither agree nor disagree,Strongly agree,Somewhat agree,TRUE,Somewhat disagree,Somewhat disagree,Neither agree nor disagree,FALSE,Strongly agree,Somewhat disagree,Somewhat disagree,I Dont Know
6,8,8366140919,A2,Somewhat agree,Somewhat agree,Somewhat disagree,TRUE,Somewhat agree,Somewhat disagree,Somewhat agree,FALSE,Somewhat agree,Somewhat agree,Somewhat disagree,I Dont Know
7,9,8864792088,A2,Neither agree nor disagree,Strongly agree,Somewhat agree,TRUE,Neither agree nor disagree,Somewhat agree,Somewhat agree,FALSE,Somewhat agree,Somewhat agree,Somewhat agree,TRUE
8,10,3413361853,B1,Somewhat disagree,Strongly agree,Strongly agree,TRUE,Somewhat agree,Strongly agree,Somewhat disagree,FALSE,Strongly agree,Somewhat disagree,Somewhat agree,TRUE
9,11,6034387383,B1,Strongly disagree,Neither agree nor disagree,Neither agree nor disagree,TRUE,Neither agree nor disagree,Neither agree nor disagree,Strongly disagree,FALSE,Neither agree nor disagree,Somewhat disagree,Somewhat agree,TRUE

In [40]:
# drop "level_0" column
kap2 = kap2.drop(['level_0'], axis = 1)

In [41]:
# rename columns
kap2.columns = ['RandomID', 'Q*', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12']

In [42]:
# recode Likert Scale wording to numbers
for i in range(len(kap2)):
    if 'Strongly disagree' in kap2.values:
        kap2 = kap2.replace("Strongly disagree", 1)
    if 'Somewhat disagree' in kap2.values:
        kap2 = kap2.replace("Somewhat disagree", 2)
    if 'Neither agree nor disagree' in kap2.values:
        kap2 = kap2.replace("Neither agree nor disagree", 3)
    if 'Somewhat agree' in kap2.values:
        kap2 = kap2.replace("Somewhat agree", 4)    
    if 'Strongly agree' in kap2.values:
        kap2 = kap2.replace("Strongly agree", 5)

In [43]:
# gain insight into kap2
kap2.head()

,RandomID,Q*,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12
0,8194933674,A1,2,5,4,TRUE,5,4,2,FALSE,5,1,3,TRUE
1,9542137183,A1,2,5,4,TRUE,4,4,1,FALSE,4,2,2,TRUE
2,8323282184,A1,2,3,3,TRUE,3,4,2,FALSE,3,2,4,TRUE
3,4165424527,A1,3,4,4,TRUE,4,3,3,FALSE,5,3,3,I Dont Know
4,3648895874,A2,3,5,2,TRUE,4,2,3,I Dont Know,5,3,3,I Dont Know

In [44]:
# recode True/False/I Don't Know Questions to 1 for correct answers and 0 for wrong answers
# Q4
kap2.loc[kap2.Q4 == 'TRUE', 'Q4'] = 1
kap2.loc[kap2.Q4 == 'FALSE', 'Q4'] = 0
kap2.loc[kap2.Q4 == "I Dont Know", 'Q4'] = 0

# Q8
kap2.loc[kap2.Q8 == 'TRUE', 'Q8'] = 0
kap2.loc[kap2.Q8 == 'FALSE', 'Q8'] = 1
kap2.loc[kap2.Q8 == "I Dont Know", 'Q8'] = 0

# Q12
kap2.loc[kap2.Q12 == 'TRUE', 'Q12'] = 1
kap2.loc[kap2.Q12 == 'FALSE', 'Q12'] = 0
kap2.loc[kap2.Q12 == "I Dont Know", 'Q12'] = 0

In [45]:
# bring mean construct scores into kap1 df where a_pc, a_er, p_pc are all on the same scale 1-5 and k_pc is on its own scale of 0-1
# kap2['post mean a_pc'] = (kap2['Q1'] + kap2['Q7'] + kap2['Q10'])/3
# kap2['post mean a_er'] = (kap2['Q2'] + kap2['Q5'] + kap2['Q9'])/3
# kap2['post mean p_pc'] = (kap2['Q3'] + kap2['Q6'] + kap2['Q11'])/3
# kap2['post mean k_pc'] = (kap2['Q4'] + kap2['Q8'] + kap2['Q12'])/3

kap2['post mean a_pc'] = kap2[['Q1', 'Q7', 'Q10']].mean(axis=1)
kap2['post mean a_er'] = kap2[['Q2', 'Q5', 'Q9']].mean(axis=1)
kap2['post mean p_pc'] = kap2[['Q3', 'Q6', 'Q11']].mean(axis=1)
kap2['post mean k_pc'] = kap2[['Q4', 'Q8', 'Q12']].mean(axis=1)

In [46]:
# gain insight into kap2
kap2.head()

,RandomID,Q*,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,post mean a_pc,post mean a_er,post mean p_pc,post mean k_pc
0,8194933674,A1,2,5,4,1,5,4,2,1,5,1,3,1,1.666667,5.000000,3.666667,1.000000
1,9542137183,A1,2,5,4,1,4,4,1,1,4,2,2,1,1.666667,4.333333,3.333333,1.000000
2,8323282184,A1,2,3,3,1,3,4,2,1,3,2,4,1,2.000000,3.000000,3.666667,1.000000
3,4165424527,A1,3,4,4,1,4,3,3,1,5,3,3,0,3.000000,4.333333,3.333333,0.666667
4,3648895874,A2,3,5,2,1,4,2,3,0,5,3,3,0,3.000000,4.666667,2.333333,0.333333

## KAP Comparison

In [47]:
# get rid of additional kap1 and kap2 content related to questions
kap_1 = kap1.drop(['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9',
       'Q10', 'Q11', 'Q12'], axis = 1)

kap_2 = kap2.drop(['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9',
       'Q10', 'Q11', 'Q12'], axis = 1)

In [48]:
# gain insight into kap_1
kap_1.head(50)

      RandomID  pre mean a_pc  pre mean a_er  pre mean p_pc  pre mean k_pc
0   9292685410       2.666667       3.000000       3.666667       0.666667
1   3955286470       1.333333       4.333333       3.666667       1.000000
2   8719080354       4.000000       4.666667       4.000000       0.666667
3   3421154104       1.000000       4.333333       4.000000       1.000000
4   1878269020       1.333333       4.666667       3.333333       1.000000
5   4855207987       3.000000       5.000000       2.666667       0.666667
6   6034387383       1.333333       4.333333       3.333333       1.000000
7   9237049872       2.000000       4.333333       3.666667       1.000000
8   8645952153       2.000000       3.333333       4.000000       1.000000
9   3413361853       2.000000       4.666667       4.333333       1.000000
10  3448845540       2.333333       3.333333       3.333333       1.000000
11  8185810064       2.333333       5.000000       5.000000       1.000000
12  1517216183       1.333333       3.000000       3.000000       1.000000
13  9433160120       2.000000       4.666667       4.000000       1.000000
14  1622652610       2.666667       3.666667       4.333333       1.000000
15  6634327767       2.666667       5.000000       3.000000       1.000000
16  8036511945       2.000000       4.666667       3.333333       1.000000
17  7209841049       2.333333       4.000000       4.666667       1.000000
18  8194933674       1.666667       5.000000       3.666667       1.000000
19  9542137183       1.666667       4.333333       3.000000       1.000000
20  8323282184       2.000000       3.666667       4.000000       1.000000
21  4165424527       3.000000       4.000000       2.333333       0.333333
22  7414114848       2.666667       4.666667       3.000000       0.666667
23  8864792088       3.333333       4.000000       3.666667       1.000000
24  8366140919       3.666667       4.000000       2.666667       0.666667
25  3648895874       3.000000       4.000000       2.666667       0.666667
26  4035720963       4.000000       4.333333       3.666667       1.000000
27  7909402321       3.000000       4.000000       4.333333       0.666667
28  9254788173       2.000000       3.666667       3.000000       1.000000
29  6854749669       2.666667       4.500000       3.666667       1.000000
30  9789360524       4.333333       5.000000       3.333333       0.666667
31  5450274185       4.000000       4.666667       4.666667       1.000000
32  7938418060       1.666667       4.000000       3.000000       1.000000
33  2810705804       2.000000       3.333333       4.666667       1.000000
34  9059836630       1.333333       4.000000       3.666667       1.000000
35  3744684443       1.333333       4.000000       3.000000       1.000000
36  1034343201       2.333333       5.000000       4.333333       1.000000
37  3489602219       2.000000       3.333333       5.000000       1.000000
38  9025272566       3.333333       5.000000       2.666667       1.000000
39  7671412241       2.000000       4.666667       3.666667       1.000000
40  7124352876       2.000000       2.666667       2.333333       1.000000
41  6603259763       1.333333       4.333333       3.000000       1.000000
42  2782470529       3.333333       4.333333       3.333333       1.000000

In [50]:
# gain insight into kap_2
kap_2.head(50)

,RandomID,Q*,post mean a_pc,post mean a_er,post mean p_pc,post mean k_pc
0,8194933674,A1,1.666667,5.000000,3.666667,1.000000
1,9542137183,A1,1.666667,4.333333,3.333333,1.000000
2,8323282184,A1,2.000000,3.000000,3.666667,1.000000
3,4165424527,A1,3.000000,4.333333,3.333333,0.666667
4,3648895874,A2,3.000000,4.666667,2.333333,0.333333
5,7414114848,A2,2.666667,4.000000,2.666667,0.666667
6,8366140919,A2,4.000000,4.000000,2.000000,0.666667
7,8864792088,A2,3.666667,4.000000,4.000000,1.000000
8,3413361853,B1,2.000000,4.666667,4.666667,1.000000
9,6034387383,B1,1.333333,3.000000,3.333333,1.000000
10,3448845540,B1,2.666667,3.333333,3.333333,1.000000
11,8645952153,B2,2.000000,3.666667,4.333333,1.000000
12,4855207987,B2,2.666667,5.000000,3.000000,1.000000
13,9237049872,B2,2.000000,4.666667,4.000000,1.000000
14,1878269020,B2,1.333333,4.666667,3.333333,1.000000
15,9720007520,B3,1.333333,4.666667,4.000000,1.000000
16,1622652610,B3,2.333333,3.666667,4.333333,1.000000
17,6634327767,B3,2.333333,5.000000,3.666667,1.000000
18,8185810064,B4,2.333333,5.000000,4.000000,1.000000
19,1517216183,B4,1.333333,3.000000,2.666667,1.000000
20,3955286470,B4,1.666667,4.000000,3.333333,1.000000
21,9433160120,B4,2.000000,4.333333,4.666667,0.666667
22,3421154104,B5,1.666667,4.333333,4.333333,1.000000
23,8036511945,B5,1.666667,4.666667,3.333333,1.000000
24,7209841049,B5,2.333333,4.333333,4.666667,1.000000
25,9789360524,A3,4.333333,5.000000,3.333333,0.666667
26,5450274185,A3,4.000000,5.000000,4.666667,1.000000
27,7938418060,A3,1.333333,4.000000,3.333333,1.000000
28,2810705804,A4,4.000000,3.333333,5.000000,0.666667
29,9059836630,A4,1.333333,3.666667,3.666667,1.000000
30,3744684443,A4,1.666667,4.000000,3.000000,1.000000
31,1034343201,A5,1.666667,5.000000,3.333333,1.000000
32,3489602219,A5,2.000000,3.333333,4.000000,1.000000
33,9025272566,A5,2.666667,5.000000,3.333333,0.666667
34,6603259763,B6,1.333333,4.333333,3.666667,1.000000
35,7671412241,B6,2.333333,4.666667,3.333333,0.666667
36,7124352876,B6,2.000000,2.666667,2.666667,1.000000
37,2782470529,B6,3.333333,4.333333,3.333333,1.000000

In [51]:
# merge kap_1 and kap_2 on "Random ID"
kap_12 = pd.merge(kap_1, kap_2, on='RandomID', how='outer')

In [52]:
kap_12.head(50)

,RandomID,pre mean a_pc,pre mean a_er,pre mean p_pc,pre mean k_pc,Q*,post mean a_pc,post mean a_er,post mean p_pc,post mean k_pc
0,9292685410,2.666667,3.000000,3.666667,0.666667,NaN,NaN,NaN,NaN,NaN
1,3955286470,1.333333,4.333333,3.666667,1.000000,B4,1.666667,4.000000,3.333333,1.000000
2,8719080354,4.000000,4.666667,4.000000,0.666667,NaN,NaN,NaN,NaN,NaN
3,3421154104,1.000000,4.333333,4.000000,1.000000,B5,1.666667,4.333333,4.333333,1.000000
4,1878269020,1.333333,4.666667,3.333333,1.000000,B2,1.333333,4.666667,3.333333,1.000000
5,4855207987,3.000000,5.000000,2.666667,0.666667,B2,2.666667,5.000000,3.000000,1.000000
6,6034387383,1.333333,4.333333,3.333333,1.000000,B1,1.333333,3.000000,3.333333,1.000000
7,9237049872,2.000000,4.333333,3.666667,1.000000,B2,2.000000,4.666667,4.000000,1.000000
8,8645952153,2.000000,3.333333,4.000000,1.000000,B2,2.000000,3.666667,4.333333,1.000000
9,3413361853,2.000000,4.666667,4.333333,1.000000,B1,2.000000,4.666667,4.666667,1.000000
10,3448845540,2.333333,3.333333,3.333333,1.000000,B1,2.666667,3.333333,3.333333,1.000000
11,8185810064,2.333333,5.000000,5.000000,1.000000,B4,2.333333,5.000000,4.000000,1.000000
12,1517216183,1.333333,3.000000,3.000000,1.000000,B4,1.333333,3.000000,2.666667,1.000000
13,9433160120,2.000000,4.666667,4.000000,1.000000,B4,2.000000,4.333333,4.666667,0.666667
14,1622652610,2.666667,3.666667,4.333333,1.000000,B3,2.333333,3.666667,4.333333,1.000000
15,6634327767,2.666667,5.000000,3.000000,1.000000,B3,2.333333,5.000000,3.666667,1.000000
16,8036511945,2.000000,4.666667,3.333333,1.000000,B5,1.666667,4.666667,3.333333,1.000000
17,7209841049,2.333333,4.000000,4.666667,1.000000,B5,2.333333,4.333333,4.666667,1.000000
18,8194933674,1.666667,5.000000,3.666667,1.000000,A1,1.666667,5.000000,3.666667,1.000000
19,9542137183,1.666667,4.333333,3.000000,1.000000,A1,1.666667,4.333333,3.333333,1.000000
20,8323282184,2.000000,3.666667,4.000000,1.000000,A1,2.000000,3.000000,3.666667,1.000000
21,4165424527,3.000000,4.000000,2.333333,0.333333,A1,3.000000,4.333333,3.333333,0.666667
22,7414114848,2.666667,4.666667,3.000000,0.666667,A2,2.666667,4.000000,2.666667,0.666667
23,8864792088,3.333333,4.000000,3.666667,1.000000,A2,3.666667,4.000000,4.000000,1.000000
24,8366140919,3.666667,4.000000,2.666667,0.666667,A2,4.000000,4.000000,2.000000,0.666667
25,3648895874,3.000000,4.000000,2.666667,0.666667,A2,3.000000,4.666667,2.333333,0.333333
26,4035720963,4.000000,4.333333,3.666667,1.000000,NaN,NaN,NaN,NaN,NaN
27,7909402321,3.000000,4.000000,4.333333,0.666667,NaN,NaN,NaN,NaN,NaN
28,9254788173,2.000000,3.666667,3.000000,1.000000,NaN,NaN,NaN,NaN,NaN
29,6854749669,2.666667,4.500000,3.666667,1.000000,NaN,NaN,NaN,NaN,NaN
30,9789360524,4.333333,5.000000,3.333333,0.666667,A3,4.333333,5.000000,3.333333,0.666667
31,5450274185,4.000000,4.666667,4.666667,1.000000,A3,4.000000,5.000000,4.666667,1.000000
32,7938418060,1.666667,4.000000,3.000000,1.000000,A3,1.333333,4.000000,3.333333,1.000000
33,2810705804,2.000000,3.333333,4.666667,1.000000,A4,4.000000,3.333333,5.000000,0.666667
34,9059836630,1.333333,4.000000,3.666667,1.000000,A4,1.333333,3.666667,3.666667,1.000000
35,3744684443,1.333333,4.000000,3.000000,1.000000,A4,1.666667,4.000000,3.000000,1.000000
36,1034343201,2.333333,5.000000,4.333333,1.000000,A5,1.666667,5.000000,3.333333,1.000000
37,3489602219,2.000000,3.333333,5.000000,1.000000,A5,2.000000,3.333333,4.000000,1.000000
38,9025272566,3.333333,5.000000,2.666667,1.000000,A5,2.666667,5.000000,3.333333,0.666667
39,7671412241,2.000000,4.666667,3.666667,1.000000,B6,2.333333,4.666667,3.333333,0.666667
40,7124352876,2.000000,2.666667,2.333333,1.000000,B6,2.000000,2.666667,2.666667,1.000000
41,6603259763,1.333333,4.333333,3.000000,1.000000,B6,1.333333,4.333333,3.666667,1.000000
42,2782470529,3.333333,4.333333,3.333333,1.000000,B6,3.333333,4.333333,3.333333,1.000000
43,9720007520,NaN,NaN,NaN,NaN,B3,1.333333,4.666667,4.000000,1.000000

In [53]:
# drop "participants" who did not fill out both a pre AND post survey
#(i.e. those who only filled out 1 KAP survey instead of 2 KAP surveys)

kap_12.dropna(subset = ["pre mean a_pc"], inplace = True)
kap_12.dropna(subset = ["pre mean a_er"], inplace = True)
kap_12.dropna(subset = ["pre mean p_pc"], inplace = True)
kap_12.dropna(subset = ["pre mean k_pc"], inplace = True)

kap_12.dropna(subset = ["post mean a_pc"], inplace = True)
kap_12.dropna(subset = ["post mean a_er"], inplace = True)
kap_12.dropna(subset = ["post mean p_pc"], inplace = True)
kap_12.dropna(subset = ["post mean k_pc"], inplace = True)

In [54]:
# calculate differences for pre/post mean a_pc, mean a_er, mean p_pc, and mean k_pc
kap_12['diff_a_pc'] = kap_12['post mean a_pc'] - kap_12['pre mean a_pc']
kap_12['diff_a_er'] = kap_12['post mean a_er'] - kap_12['pre mean a_er']
kap_12['diff_p_pc'] = kap_12['post mean p_pc'] - kap_12['pre mean p_pc']
kap_12['diff_k_pc'] = kap_12['post mean k_pc'] - kap_12['pre mean k_pc']

In [55]:
# gain insight into kap_12
kap_12.head(50)

,RandomID,pre mean a_pc,pre mean a_er,pre mean p_pc,pre mean k_pc,Q*,post mean a_pc,post mean a_er,post mean p_pc,post mean k_pc,diff_a_pc,diff_a_er,diff_p_pc,diff_k_pc
1,3955286470,1.333333,4.333333,3.666667,1.000000,B4,1.666667,4.000000,3.333333,1.000000,0.333333,-0.333333,-0.333333,0.000000
3,3421154104,1.000000,4.333333,4.000000,1.000000,B5,1.666667,4.333333,4.333333,1.000000,0.666667,0.000000,0.333333,0.000000
4,1878269020,1.333333,4.666667,3.333333,1.000000,B2,1.333333,4.666667,3.333333,1.000000,0.000000,0.000000,0.000000,0.000000
5,4855207987,3.000000,5.000000,2.666667,0.666667,B2,2.666667,5.000000,3.000000,1.000000,-0.333333,0.000000,0.333333,0.333333
6,6034387383,1.333333,4.333333,3.333333,1.000000,B1,1.333333,3.000000,3.333333,1.000000,0.000000,-1.333333,0.000000,0.000000
7,9237049872,2.000000,4.333333,3.666667,1.000000,B2,2.000000,4.666667,4.000000,1.000000,0.000000,0.333333,0.333333,0.000000
8,8645952153,2.000000,3.333333,4.000000,1.000000,B2,2.000000,3.666667,4.333333,1.000000,0.000000,0.333333,0.333333,0.000000
9,3413361853,2.000000,4.666667,4.333333,1.000000,B1,2.000000,4.666667,4.666667,1.000000,0.000000,0.000000,0.333333,0.000000
10,3448845540,2.333333,3.333333,3.333333,1.000000,B1,2.666667,3.333333,3.333333,1.000000,0.333333,0.000000,0.000000,0.000000
11,8185810064,2.333333,5.000000,5.000000,1.000000,B4,2.333333,5.000000,4.000000,1.000000,0.000000,0.000000,-1.000000,0.000000
12,1517216183,1.333333,3.000000,3.000000,1.000000,B4,1.333333,3.000000,2.666667,1.000000,0.000000,0.000000,-0.333333,0.000000
13,9433160120,2.000000,4.666667,4.000000,1.000000,B4,2.000000,4.333333,4.666667,0.666667,0.000000,-0.333333,0.666667,-0.333333
14,1622652610,2.666667,3.666667,4.333333,1.000000,B3,2.333333,3.666667,4.333333,1.000000,-0.333333,0.000000,0.000000,0.000000
15,6634327767,2.666667,5.000000,3.000000,1.000000,B3,2.333333,5.000000,3.666667,1.000000,-0.333333,0.000000,0.666667,0.000000
16,8036511945,2.000000,4.666667,3.333333,1.000000,B5,1.666667,4.666667,3.333333,1.000000,-0.333333,0.000000,0.000000,0.000000
17,7209841049,2.333333,4.000000,4.666667,1.000000,B5,2.333333,4.333333,4.666667,1.000000,0.000000,0.333333,0.000000,0.000000
18,8194933674,1.666667,5.000000,3.666667,1.000000,A1,1.666667,5.000000,3.666667,1.000000,0.000000,0.000000,0.000000,0.000000
19,9542137183,1.666667,4.333333,3.000000,1.000000,A1,1.666667,4.333333,3.333333,1.000000,0.000000,0.000000,0.333333,0.000000
20,8323282184,2.000000,3.666667,4.000000,1.000000,A1,2.000000,3.000000,3.666667,1.000000,0.000000,-0.666667,-0.333333,0.000000
21,4165424527,3.000000,4.000000,2.333333,0.333333,A1,3.000000,4.333333,3.333333,0.666667,0.000000,0.333333,1.000000,0.333333
22,7414114848,2.666667,4.666667,3.000000,0.666667,A2,2.666667,4.000000,2.666667,0.666667,0.000000,-0.666667,-0.333333,0.000000
23,8864792088,3.333333,4.000000,3.666667,1.000000,A2,3.666667,4.000000,4.000000,1.000000,0.333333,0.000000,0.333333,0.000000
24,8366140919,3.666667,4.000000,2.666667,0.666667,A2,4.000000,4.000000,2.000000,0.666667,0.333333,0.000000,-0.666667,0.000000
25,3648895874,3.000000,4.000000,2.666667,0.666667,A2,3.000000,4.666667,2.333333,0.333333,0.000000,0.666667,-0.333333,-0.333333
30,9789360524,4.333333,5.000000,3.333333,0.666667,A3,4.333333,5.000000,3.333333,0.666667,0.000000,0.000000,0.000000,0.000000
31,5450274185,4.000000,4.666667,4.666667,1.000000,A3,4.000000,5.000000,4.666667,1.000000,0.000000,0.333333,0.000000,0.000000
32,7938418060,1.666667,4.000000,3.000000,1.000000,A3,1.333333,4.000000,3.333333,1.000000,-0.333333,0.000000,0.333333,0.000000
33,2810705804,2.000000,3.333333,4.666667,1.000000,A4,4.000000,3.333333,5.000000,0.666667,2.000000,0.000000,0.333333,-0.333333
34,9059836630,1.333333,4.000000,3.666667,1.000000,A4,1.333333,3.666667,3.666667,1.000000,0.000000,-0.333333,0.000000,0.000000
35,3744684443,1.333333,4.000000,3.000000,1.000000,A4,1.666667,4.000000,3.000000,1.000000,0.333333,0.000000,0.000000,0.000000
36,1034343201,2.333333,5.000000,4.333333,1.000000,A5,1.666667,5.000000,3.333333,1.000000,-0.666667,0.000000,-1.000000,0.000000
37,3489602219,2.000000,3.333333,5.000000,1.000000,A5,2.000000,3.333333,4.000000,1.000000,0.000000,0.000000,-1.000000,0.000000
38,9025272566,3.333333,5.000000,2.666667,1.000000,A5,2.666667,5.000000,3.333333,0.666667,-0.666667,0.000000,0.666667,-0.333333
39,7671412241,2.000000,4.666667,3.666667,1.000000,B6,2.333333,4.666667,3.333333,0.666667,0.333333,0.000000,-0.333333,-0.333333
40,7124352876,2.000000,2.666667,2.333333,1.000000,B6,2.000000,2.666667,2.666667,1.000000,0.000000,0.000000,0.333333,0.000000
41,6603259763,1.333333,4.333333,3.000000,1.000000,B6,1.333333,4.333333,3.666667,1.000000,0.000000,0.000000,0.666667,0.000000
42,2782470529,3.333333,4.333333,3.333333,1.000000,B6,3.333333,4.333333,3.333333,1.000000,0.000000,0.000000,0.000000,0.000000

In [56]:
kap_12.shape

(37, 14)

In [61]:
# create new column, "protocol" from column "Q*" with just A or B
kap_12['protocol'] = kap_12['Q*'].str[:1]

In [66]:
# gain insight into kap_12
kap_12.head()

,RandomID,pre mean a_pc,pre mean a_er,pre mean p_pc,pre mean k_pc,Q*,post mean a_pc,post mean a_er,post mean p_pc,post mean k_pc,diff_a_pc,diff_a_er,diff_p_pc,diff_k_pc,protocol
1,3955286470,1.333333,4.333333,3.666667,1.000000,B4,1.666667,4.000000,3.333333,1.0,0.333333,-0.333333,-0.333333,0.000000,B
3,3421154104,1.000000,4.333333,4.000000,1.000000,B5,1.666667,4.333333,4.333333,1.0,0.666667,0.000000,0.333333,0.000000,B
4,1878269020,1.333333,4.666667,3.333333,1.000000,B2,1.333333,4.666667,3.333333,1.0,0.000000,0.000000,0.000000,0.000000,B
5,4855207987,3.000000,5.000000,2.666667,0.666667,B2,2.666667,5.000000,3.000000,1.0,-0.333333,0.000000,0.333333,0.333333,B
6,6034387383,1.333333,4.333333,3.333333,1.000000,B1,1.333333,3.000000,3.333333,1.0,0.000000,-1.333333,0.000000,0.000000,B

In [65]:
# write kap_12 to csv
kap_12.to_csv('data/interim/kap12_clean.csv', encoding='utf-8', index=False)

## Effectiveness of Participatory SGD Workshops - Construct

#### Create "Effectiveness of Participatory SGD Workshops" construct dataframe where:

Total Effectiveness of Participatory SGD Workshops:
* Q1, Q2, Q3, Q4, Q5, Q6, Q7, Q8, Q9, Q10, Q11

Structure & Flow of Participatory SGD Workshops:
* Q1, Q2, Q3

Usability of Participatory SGD Workshops:
* Q4, Q5, Q6, Q7

Team Communication of Participatory SGD Workshops:
* Q8, Q9, Q10, Q11

In [86]:
# gain insight into sgd
sgd.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,SGDQ1234567891011_2,SGDQ1234567891011_3,SGDQ1234567891011_4,SGDQ1234567891011_5,SGDQ1234567891011_6,SGDQ1234567891011_7,SGDQ1234567891011_8,SGDQ1234567891011_9,SGDQ1234567891011_10,SGDQ1234567891011_11
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...
1,"{""ImportId"":""startDate"",""timeZone"":""America/Lo...","{""ImportId"":""endDate"",""timeZone"":""America/Los_...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID12_2""}","{""ImportId"":""QID12_3""}","{""ImportId"":""QID12_4""}","{""ImportId"":""QID12_5""}","{""ImportId"":""QID12_6""}","{""ImportId"":""QID12_7""}","{""ImportId"":""QID12_8""}","{""ImportId"":""QID12_10""}","{""ImportId"":""QID12_9""}","{""ImportId"":""QID12_11""}"
2,04/08/2021 14:50,04/08/2021 14:52,IP Address,65.183.131.208,100,111,TRUE,04/08/2021 14:52,R_2b2XxLfMus3CiyL,NaN,...,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree
3,04/08/2021 14:50,04/08/2021 14:52,IP Address,65.183.131.208,100,133,TRUE,04/08/2021 14:53,R_uyITxMh8h2DAx6F,NaN,...,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Strongly agree
4,04/08/2021 14:51,04/08/2021 14:53,IP Address,65.183.131.208,100,148,TRUE,04/08/2021 14:53,R_3hbbgcgpXpeOPE1,NaN,...,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree

In [87]:
# get names of columns
print(sgd.columns)

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Random ID', 'Q*', 'Q1Q2Q3_1',
       'Q1Q2Q3_2', 'Q1Q2Q3_3', 'Q4', 'Q5Q6Q7_1', 'Q5Q6Q7_2', 'Q5Q6Q7_3', 'Q8',
       'Q9Q10Q11_1', 'Q9Q10Q11_2', 'Q9Q10Q11_3', 'Q12', 'SGDQ1234567891011_1',
       'SGDQ1234567891011_2', 'SGDQ1234567891011_3', 'SGDQ1234567891011_4',
       'SGDQ1234567891011_5', 'SGDQ1234567891011_6', 'SGDQ1234567891011_7',
       'SGDQ1234567891011_8', 'SGDQ1234567891011_9', 'SGDQ1234567891011_10',
       'SGDQ1234567891011_11'],
      dtype='object')

In [88]:
# drop unnecessary unnecessary columns in sgd
sgd = sgd.drop(['StartDate','EndDate', 'Status', 'IPAddress', 'Progress', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
                  'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference', 'LocationLatitude', 'LocationLongitude',
                 'DistributionChannel', 'UserLanguage','Q1Q2Q3_1', 'Q1Q2Q3_2', 'Q1Q2Q3_3', 'Q4', 'Q5Q6Q7_1', 'Q5Q6Q7_2', 'Q5Q6Q7_3', 'Q8', 
                  'Q9Q10Q11_1', 'Q9Q10Q11_2', 'Q9Q10Q11_3', 'Q12', ], axis = 1)

In [89]:
# drop unnecessary rows
sgd.dropna(subset = ["Random ID"], inplace = True)
sgd = sgd.iloc[2:]

In [90]:
# drop duplicates
sgd = sgd.drop_duplicates(subset= 'Random ID', keep='first', inplace=False)

In [91]:
# reset index to "Random ID"
sgd.set_index(["Random ID"], inplace = True, append = True, drop = True)
sgd.reset_index(inplace = True)
sgd.head(10)

,level_0,Random ID,Q*,SGDQ1234567891011_1,SGDQ1234567891011_2,SGDQ1234567891011_3,SGDQ1234567891011_4,SGDQ1234567891011_5,SGDQ1234567891011_6,SGDQ1234567891011_7,SGDQ1234567891011_8,SGDQ1234567891011_9,SGDQ1234567891011_10,SGDQ1234567891011_11
0,2,8194933674,A1,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree
1,3,9542137183,A1,Strongly agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Strongly agree
2,4,8323282184,A1,Strongly agree,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree
3,5,4165424527,A1,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree
4,6,3648895874,A2,Neither agree nor disagree,Somewhat agree,Strongly agree,Neither agree nor disagree,Neither agree nor disagree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Neither agree nor disagree,Neither agree nor disagree
5,7,7414114848,A2,Somewhat agree,Strongly agree,Strongly agree,Somewhat disagree,Neither agree nor disagree,Somewhat agree,Somewhat agree,Somewhat agree,Strongly agree,Somewhat disagree,Strongly agree
6,8,8366140919,A2,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree
7,9,8864792088,A2,Somewhat agree,Strongly agree,Strongly agree,Somewhat agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Somewhat agree,Somewhat agree
8,10,3413361853,B1,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Somewhat agree
9,11,6034387383,B1,Somewhat agree,Somewhat agree,Strongly agree,Somewhat agree,Somewhat agree,Strongly agree,Neither agree nor disagree,Strongly agree,Somewhat agree,Somewhat disagree,Somewhat agree

In [92]:
# drop "level_0" column
sgd = sgd.drop(['level_0'], axis = 1)

In [93]:
# rename columns
sgd.columns = ['RandomID', 'Q*', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11']

In [94]:
sgd.head()

,RandomID,Q*,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11
0,8194933674,A1,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree
1,9542137183,A1,Strongly agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Strongly agree
2,8323282184,A1,Strongly agree,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree
3,4165424527,A1,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree
4,3648895874,A2,Neither agree nor disagree,Somewhat agree,Strongly agree,Neither agree nor disagree,Neither agree nor disagree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Neither agree nor disagree,Neither agree nor disagree

In [95]:
# recode Likert Scale wording to numbers
for i in range(len(sgd)):
    if 'Strongly disagree' in sgd.values:
        sgd = sgd.replace("Strongly disagree", 1)
    if 'Somewhat disagree' in sgd.values:
        sgd = sgd.replace("Somewhat disagree", 2)
    if 'Neither agree nor disagree' in sgd.values:
        sgd = sgd.replace("Neither agree nor disagree", 3)
    if 'Somewhat agree' in sgd.values:
        sgd = sgd.replace("Somewhat agree", 4)    
    if 'Strongly agree' in sgd.values:
        sgd = sgd.replace("Strongly agree", 5)

In [96]:
# gain insight into sgd
sgd.head()

     RandomID  Q*  Q1  Q2  Q3  Q4  Q5   Q6  Q7  Q8  Q9  Q10  Q11
0  8194933674  A1   5   5   5   5   5  5.0   5   5   5    5    5
1  9542137183  A1   5   5   4   5   4  5.0   4   5   4    5    5
2  8323282184  A1   5   4   5   5   5  4.0   4   5   5    5    5
3  4165424527  A1   5   5   5   5   5  5.0   5   5   5    5    5
4  3648895874  A2   3   4   5   3   3  4.0   4   4   4    3    3

In [97]:
# bring mean construct scores into sgd df where a_pc, a_er, p_pc are all on the same scale 1-5
# sgd['total mean sgd_effect'] = (sgd['Q1'] + sgd['Q2'] + sgd['Q3'] + sgd['Q4'] + sgd['Q5'] + sgd['Q6'] + sgd['Q7'] + sgd['Q8'] + 
#                           sgd['Q9'] + sgd['Q10'] + sgd['Q11'])/11
# sgd['mean sgd_sf'] = (sgd['Q1'] + sgd['Q2'] + sgd['Q3'])/3
# sgd['mean sgd_u'] = (sgd['Q4'] + sgd['Q5'] + sgd['Q6'] + sgd['Q7'])/4
# sgd['mean sgd_tc'] = (sgd['Q8'] + sgd['Q9'] + sgd['Q10'] + sgd['Q11'])/4

sgd['total mean sgd_effect'] = sgd[['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11']].mean(axis=1)
sgd['mean sgd_sf'] = sgd[['Q1', 'Q2', 'Q3']].mean(axis=1)
sgd['mean sgd_u'] = sgd[['Q4', 'Q5', 'Q6', 'Q7']].mean(axis=1)
sgd['mean sgd_tc'] = sgd[['Q8', 'Q9', 'Q10', 'Q11']].mean(axis=1)

In [98]:
# gain insight into sgd
sgd.head(10)

,RandomID,Q*,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,total mean sgd_effect,mean sgd_sf,mean sgd_u,mean sgd_tc
0,8194933674,A1,5,5,5,5,5,5.0,5,5,5,5,5,5.000000,5.000000,5.00,5.00
1,9542137183,A1,5,5,4,5,4,5.0,4,5,4,5,5,4.636364,4.666667,4.50,4.75
2,8323282184,A1,5,4,5,5,5,4.0,4,5,5,5,5,4.727273,4.666667,4.50,5.00
3,4165424527,A1,5,5,5,5,5,5.0,5,5,5,5,5,5.000000,5.000000,5.00,5.00
4,3648895874,A2,3,4,5,3,3,4.0,4,4,4,3,3,3.636364,4.000000,3.50,3.50
5,7414114848,A2,4,5,5,2,3,4.0,4,4,5,2,5,3.909091,4.666667,3.25,4.00
6,8366140919,A2,4,4,4,4,4,4.0,4,4,4,4,4,4.000000,4.000000,4.00,4.00
7,8864792088,A2,4,5,5,4,4,5.0,4,5,4,4,4,4.363636,4.666667,4.25,4.25
8,3413361853,B1,5,5,5,5,5,5.0,5,5,5,4,4,4.818182,5.000000,5.00,4.50
9,6034387383,B1,4,4,5,4,4,5.0,3,5,4,2,4,4.000000,4.333333,4.00,3.75

In [99]:
# create new column, "protocol" from column "Q*" with just A or B
sgd['protocol'] = sgd['Q*'].str[:1]

In [102]:
# gain insight into kap_12
sgd.head()

,RandomID,Q*,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,total mean sgd_effect,mean sgd_sf,mean sgd_u,mean sgd_tc,protocol
0,8194933674,A1,5,5,5,5,5,5.0,5,5,5,5,5,5.000000,5.000000,5.0,5.00,A
1,9542137183,A1,5,5,4,5,4,5.0,4,5,4,5,5,4.636364,4.666667,4.5,4.75,A
2,8323282184,A1,5,4,5,5,5,4.0,4,5,5,5,5,4.727273,4.666667,4.5,5.00,A
3,4165424527,A1,5,5,5,5,5,5.0,5,5,5,5,5,5.000000,5.000000,5.0,5.00,A
4,3648895874,A2,3,4,5,3,3,4.0,4,4,4,3,3,3.636364,4.000000,3.5,3.50,A

In [103]:
sgd.shape

(38, 18)

In [104]:
# write sgd to csv
sgd.to_csv('data/interim/sgd_clean.csv', encoding='utf-8', index=False)