### Data Cleaning for KAP Surveys

##### Cleaning KAP Survey #1 and #2 data AND participatory SGD workshop data for later analysis

###### 14/07/2021 at 23:30 CEST

In [1]:
# import necessary libraries
import os
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
plt.style.use('seaborn-pastel')

In [2]:
# change working directory to a specified directory
os.chdir('../')
print("Directory Changes")

# Get current working directory
cwd = os.getcwd()
print("Current working directory is:", cwd)

Directory Changes
Current working directory is: C:\Users\Carol\Documents\EPA_2020_2021\Thesis\Analysis\KAP_Analysis

In [80]:
# read in csv data
kap1 = pd.read_csv("data/raw/1KAPSurvey_Testing_July142021.csv")
kap2 = pd.read_csv("data/raw/2KAPSurvey_Testing_July142021.csv")
sd = pd.read_csv("data/raw/SocialDesirabilitySurvey_Testing_July142021.csv")
sgd = pd.read_csv("data/raw/2KAPSurvey_Testing_July142021.csv")

## KAP 1

In [4]:
#gain insight into kap1
kap1.shape

(11, 30)

In [5]:
# gain insight into kap1
kap1.head(5)

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q1Q2Q3_3,Q4,Q5Q6Q7_1,Q5Q6Q7_2,Q5Q6Q7_3,Q8,Q9Q10Q11_1,Q9Q10Q11_2,Q9Q10Q11_3,Q12
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,Please indicate how much you agree/disagree wi...,Racial disparities in public safety still exis...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,White people are more likely to be stopped by ...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,"Historically, law enforcement has been entangl..."
1,"{""ImportId"":""startDate"",""timeZone"":""America/Lo...","{""ImportId"":""endDate"",""timeZone"":""America/Los_...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID4_3""}","{""ImportId"":""QID10""}","{""ImportId"":""QID7_1""}","{""ImportId"":""QID7_2""}","{""ImportId"":""QID7_3""}","{""ImportId"":""QID11""}","{""ImportId"":""QID8_1""}","{""ImportId"":""QID8_2""}","{""ImportId"":""QID8_3""}","{""ImportId"":""QID9""}"
2,2021-07-08 17:03:44,2021-07-08 17:08:21,IP Address,65.183.131.208,100,276,True,2021-07-08 17:08:21,R_3M69Ydp5g0czPhN,NaN,...,Somewhat agree,True,Strongly agree,Strongly agree,Neither agree nor disagree,False,Strongly agree,Somewhat disagree,Somewhat agree,True
3,2021-07-08 17:04:08,2021-07-08 17:10:27,IP Address,24.80.106.51,100,378,True,2021-07-08 17:10:27,R_26573CvFoR2A5TL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-07-08 17:09:26,2021-07-08 17:10:37,IP Address,65.183.131.208,100,71,True,2021-07-08 17:10:37,R_a4uFGTy9Z1YJFsd,NaN,...,Somewhat agree,True,Strongly agree,Somewhat agree,Somewhat disagree,True,Strongly agree,Strongly disagree,Somewhat agree,True

In [6]:
# get names of columns
print(kap1.columns)

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Random ID', 'Q1Q2Q3_1',
       'Q1Q2Q3_2', 'Q1Q2Q3_3', 'Q4', 'Q5Q6Q7_1', 'Q5Q6Q7_2', 'Q5Q6Q7_3', 'Q8',
       'Q9Q10Q11_1', 'Q9Q10Q11_2', 'Q9Q10Q11_3', 'Q12'],
      dtype='object')

In [7]:
# drop unnecessary unnecessary columns in kap1
kap1 = kap1.drop(['Progress','StartDate','EndDate', 'Status', 'IPAddress', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
                  'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference', 'LocationLatitude', 'LocationLongitude',
                 'DistributionChannel', 'UserLanguage'], axis = 1)

In [8]:
# drop unnecessary rows
kap1.dropna(subset = ["Random ID"], inplace = True)
kap1 = kap1.iloc[2:]

In [9]:
# drop rows with Nan values?

In [10]:
# drop duplicates
kap1 = kap1.drop_duplicates(subset= 'Random ID', keep='first', inplace=False)

In [11]:
# reset index to "Random ID"
kap1.set_index(["Random ID"], inplace = True, append = True, drop = True)
kap1.reset_index(inplace = True)
kap1.head(10)

,level_0,Random ID,Q1Q2Q3_1,Q1Q2Q3_2,Q1Q2Q3_3,Q4,Q5Q6Q7_1,Q5Q6Q7_2,Q5Q6Q7_3,Q8,Q9Q10Q11_1,Q9Q10Q11_2,Q9Q10Q11_3,Q12
0,2,1034343201,Somewhat disagree,Strongly agree,Somewhat agree,True,Strongly agree,Strongly agree,Neither agree nor disagree,False,Strongly agree,Somewhat disagree,Somewhat agree,True
1,5,3489602219,Somewhat disagree,Somewhat agree,Strongly agree,True,Somewhat disagree,Strongly agree,Somewhat disagree,False,Somewhat agree,Somewhat disagree,Strongly agree,True
2,6,9025272566,Somewhat disagree,Strongly agree,Neither agree nor disagree,True,Strongly agree,Neither agree nor disagree,Somewhat agree,False,Strongly agree,Somewhat agree,Somewhat disagree,True
3,7,7671412241,Strongly disagree,Somewhat agree,Somewhat agree,True,Strongly agree,Somewhat agree,Strongly disagree,False,Strongly agree,Somewhat agree,Neither agree nor disagree,True
4,8,7124352876,Somewhat disagree,Neither agree nor disagree,Strongly disagree,True,Somewhat disagree,Somewhat agree,Somewhat disagree,False,Neither agree nor disagree,Somewhat disagree,Somewhat disagree,True
5,9,6603259763,Strongly disagree,Strongly agree,Neither agree nor disagree,True,Somewhat agree,Somewhat agree,Strongly disagree,False,Somewhat agree,Somewhat disagree,Somewhat disagree,True
6,10,2782470529,Neither agree nor disagree,Strongly agree,Somewhat agree,True,Strongly agree,Neither agree nor disagree,Somewhat agree,False,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,True

In [12]:
# drop "level_0" column
kap1 = kap1.drop(['level_0'], axis = 1)

#### Where:

Q1Q2Q3_1 = Q1, 
* "I have confidence in the police to address community concerns address community."
* (Q2_9 in Appendix A)
* Attitude about Policing in Communities

Q1Q2Q3_2 = Q2
* "I feel warmly towards black people."
* (Q1_1 in Appendix A)
* Attitude about Explicit Racism

Q1Q2Q3_3 = Q3
* "I would participate in a community-oriented policing (COP) initiative locally if invited."
* (Q2_15 in Appendix A)
* Practice about Policing in Communities

Q4 = Q4
* "Racial disparities in public safety still exist today."
* (Q8 in Appendix A)
* Knowledge about Policing in Communities

Q5Q6Q7_1 = Q5
* "I feel warmly towards white people."
* (Q1_2 in Appendix A)
* Attitude about Explicit Racism

Q5Q6Q7_2 = Q6
* "I would contact community members within organizations that collaborate with the police for help with addressing community-specific problems."
* (Q2_14 in Appendix A
* Practice about Policing in Communities

Q5Q6Q7_3 = Q7
* "I trust the police."
* (Q2_7 in Appendix A)
* Attitude about Policing in Communities

Q8 = Q8
* "White people are more likely to be stopped by the police than folks that are Black, Indigenous, and People of Color (BIPOC)."
* (Q10 in Appendix A)
* Knowledge about Policing in Communities

Q9Q10Q11_1 = Q9
* "Black people are peaceful."
* (Q1_4 in Appendix A)
* Attitude about Explicit Racism

Q9Q10Q11_2 = Q10
* "I am comfortable communicating with the police."
* (Q2_11 in Appendix A)
* Attitude about Policing in Communities

Q9Q10Q11_3 = Q11
* "I have confidence in communities to offer aid to police for addressing community concerns."
* (Q2_10 in Appendix A)
* Practice about Policing in Communities

Q12 = Q12
* "Historically, law enforcement has been entangled with white supremacy and associated hate groups."
* (Q10 in Appendix A)
* Knowledge about Policing in Communities

In [13]:
# rename columns
kap1.columns = ['RandomID', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12']

#### recode Likert Scale wording to numbers where:

* "Strong disagree" = 1
* "Somewhat disagree" = 2
* "Neither agree nor disagree" = 3
* "Somewhat agree" = 4
* "Strongly agree" =5

In [14]:
# recode Likert Scale wording to numbers
for i in range(len(kap1)):
    if 'Strongly disagree' in kap1.values:
        kap1 = kap1.replace("Strongly disagree", 1)
    if 'Somewhat disagree' in kap1.values:
        kap1 = kap1.replace("Somewhat disagree", 2)
    if 'Neither agree nor disagree' in kap1.values:
        kap1 = kap1.replace("Neither agree nor disagree", 3)
    if 'Somewhat agree' in kap1.values:
        kap1 = kap1.replace("Somewhat agree", 4)    
    if 'Strongly agree' in kap1.values:
        kap1 = kap1.replace("Strongly agree", 5)

In [15]:
# gain insight into kap1
kap1.head()

     RandomID  Q1  Q2  Q3    Q4  Q5  Q6  Q7     Q8  Q9  Q10  Q11   Q12
0  1034343201   2   5   4  True   5   5   3  False   5    2    4  True
1  3489602219   2   4   5  True   2   5   2  False   4    2    5  True
2  9025272566   2   5   3  True   5   3   4  False   5    4    2  True
3  7671412241   1   4   4  True   5   4   1  False   5    4    3  True
4  7124352876   2   3   1  True   2   4   2  False   3    2    2  True

### Constructs

#### Create construct dataframes where:

Knowledge about Policing in Communities:
* Q4, Q8, and Q12

Attitude about Policing in Communities:
* Q1, Q7, Q10

Attitude about Explicit Racism
* Q2, Q5, Q9

Practice about Policing in Communities
* Q3, Q6, Q11

#### Knowledge Construct

where the correct answer to each question is as follows:

Q4 = True
* (Q8 in Appendix A)


Q8 = False
* (Q10 in Appendix A)

Q12 = True
* (Q7 in Appendix A)

In [16]:
# create Knowledge about Policing in Communities construct
k_pc = kap1.drop(['Q1', 'Q2', 'Q3', 'Q5', 'Q6', 'Q7', 'Q9', 'Q10', 'Q11'], axis = 1)

In [17]:
# recode True/False/I Don't Know Questions to 1 for correct answers and 0 for wrong answers
# Q4
k_pc.loc[k_pc.Q4 == 'True', 'Q4'] = 1
k_pc.loc[k_pc.Q4 == 'False', 'Q4'] = 0
k_pc.loc[k_pc.Q4 == "I Don't Know", 'Q4'] = 0

# Q8
k_pc.loc[k_pc.Q8 == 'True', 'Q8'] = 0
k_pc.loc[k_pc.Q8 == 'False', 'Q8'] = 1
k_pc.loc[k_pc.Q8 == "I Don't Know", 'Q8'] = 0

# Q12
k_pc.loc[k_pc.Q12 == 'True', 'Q12'] = 1
k_pc.loc[k_pc.Q12 == 'False', 'Q12'] = 0
k_pc.loc[k_pc.Q12 == "I Don't Know", 'Q12'] = 0

In [18]:
# add column with the calculated mean value for the a_pc construct
k_pc['mean k_pc'] = (k_pc['Q4'] + k_pc['Q8'] + k_pc['Q12'])/3

In [19]:
# gain insight into k_pc
k_pc.head()

     RandomID Q4 Q8 Q12 mean k_pc
0  1034343201  1  1   1         1
1  3489602219  1  1   1         1
2  9025272566  1  1   1         1
3  7671412241  1  1   1         1
4  7124352876  1  1   1         1

In [20]:
# create Attitude about Policing in Communities construct
a_pc = kap1.drop(['Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q9', 'Q11', 'Q12'], axis = 1)

In [21]:
# add column with the calculated mean value for the a_pc construct
a_pc['mean a_pc'] = (a_pc['Q1'] + a_pc['Q7'] + a_pc['Q10'])/3

In [22]:
# gain insight into a_pc
a_pc.head()

     RandomID  Q1  Q7  Q10  mean a_pc
0  1034343201   2   3    2   2.333333
1  3489602219   2   2    2   2.000000
2  9025272566   2   4    4   3.333333
3  7671412241   1   1    4   2.000000
4  7124352876   2   2    2   2.000000

In [23]:
# create Attitude about Explicit Racism construct
a_er = kap1.drop(['Q1', 'Q3', 'Q4', 'Q6', 'Q7', 'Q8', 'Q10', 'Q11', 'Q12'], axis = 1)

In [24]:
# add column with the calculated mean value for the a_er construct
a_er['mean a_er'] = (a_er['Q2'] + a_er['Q5'] + a_er['Q9'])/3

In [25]:
# gain insight into a_er
a_er.head()

     RandomID  Q2  Q5  Q9  mean a_er
0  1034343201   5   5   5   5.000000
1  3489602219   4   2   4   3.333333
2  9025272566   5   5   5   5.000000
3  7671412241   4   5   5   4.666667
4  7124352876   3   2   3   2.666667

In [26]:
# create Practice about Policing in Communities construct
p_pc = kap1.drop(['Q1', 'Q2', 'Q4', 'Q5', 'Q7', 'Q8', 'Q9', 'Q10', 'Q12'], axis = 1)

In [27]:
# add column with the calculated mean value for the p_pc construct
p_pc['mean p_pc'] = (p_pc['Q3'] + p_pc['Q6'] + p_pc['Q11'])/3

In [28]:
# gain insight into p_pc
p_pc.head()

     RandomID  Q3  Q6  Q11  mean p_pc
0  1034343201   4   5    4   4.333333
1  3489602219   5   5    5   5.000000
2  9025272566   3   3    2   2.666667
3  7671412241   4   4    3   3.666667
4  7124352876   1   4    2   2.333333

In [29]:
# recode True/False/I Don't Know Questions to 1 for correct answers and 0 for wrong answers
# Q4
kap1.loc[kap1.Q4 == 'True', 'Q4'] = 1
kap1.loc[kap1.Q4 == 'False', 'Q4'] = 0
kap1.loc[kap1.Q4 == "I Don't Know", 'Q4'] = 0

# Q8
kap1.loc[kap1.Q8 == 'True', 'Q8'] = 0
kap1.loc[kap1.Q8 == 'False', 'Q8'] = 1
kap1.loc[kap1.Q8 == "I Don't Know", 'Q8'] = 0

# Q12
kap1.loc[kap1.Q12 == 'True', 'Q12'] = 1
kap1.loc[kap1.Q12 == 'False', 'Q12'] = 0
kap1.loc[kap1.Q12 == "I Don't Know", 'Q12'] = 0

In [30]:
# bring mean construct scores into kap1 df where a_pc, a_er, p_pc are all on the same scale 1-5 and k_pc is on its own scale of 0-1
kap1['pre mean a_pc'] = (kap1['Q1'] + kap1['Q7'] + kap1['Q10'])/3
kap1['pre mean a_er'] = (kap1['Q2'] + kap1['Q5'] + kap1['Q9'])/3
kap1['pre mean p_pc'] = (kap1['Q3'] + kap1['Q6'] + kap1['Q11'])/3
kap1['pre mean k_pc'] = (kap1['Q4'] + kap1['Q8'] + kap1['Q12'])/3

In [31]:
# gain insight into kap1
kap1.head()

,RandomID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,pre mean a_pc,pre mean a_er,pre mean p_pc,pre mean k_pc
0,1034343201,2,5,4,1,5,5,3,1,5,2,4,1,2.333333,5.000000,4.333333,1
1,3489602219,2,4,5,1,2,5,2,1,4,2,5,1,2.000000,3.333333,5.000000,1
2,9025272566,2,5,3,1,5,3,4,1,5,4,2,1,3.333333,5.000000,2.666667,1
3,7671412241,1,4,4,1,5,4,1,1,5,4,3,1,2.000000,4.666667,3.666667,1
4,7124352876,2,3,1,1,2,4,2,1,3,2,2,1,2.000000,2.666667,2.333333,1

## KAP 2

In [32]:
#gain insight into kap2
kap2.shape

(11, 41)

In [33]:
# gain insight into kap2
kap2.head(5)

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,SGDQ1234567891011_2,SGDQ1234567891011_3,SGDQ1234567891011_4,SGDQ1234567891011_5,SGDQ1234567891011_6,SGDQ1234567891011_7,SGDQ1234567891011_8,SGDQ1234567891011_9,SGDQ1234567891011_10,SGDQ1234567891011_11
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...
1,"{""ImportId"":""startDate"",""timeZone"":""America/Lo...","{""ImportId"":""endDate"",""timeZone"":""America/Los_...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID12_2""}","{""ImportId"":""QID12_3""}","{""ImportId"":""QID12_4""}","{""ImportId"":""QID12_5""}","{""ImportId"":""QID12_6""}","{""ImportId"":""QID12_7""}","{""ImportId"":""QID12_8""}","{""ImportId"":""QID12_10""}","{""ImportId"":""QID12_9""}","{""ImportId"":""QID12_11""}"
2,2021-07-07 15:36:47,2021-07-07 15:37:16,Survey Preview,NaN,100,28,True,2021-07-07 15:37:17,R_2rGVuHH3wLN4JdY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-07-07 15:39:48,2021-07-07 15:40:05,Survey Preview,NaN,100,17,True,2021-07-07 15:40:06,R_2dgMLB4pjD0YVsM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-07-08 17:08:27,2021-07-08 18:57:42,IP Address,65.183.131.208,100,6554,True,2021-07-08 18:57:42,R_2Pd0BOODoqvnQIO,NaN,...,Strongly agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Strongly agree

In [34]:
# get names of columns
print(kap2.columns)

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Random ID', 'Q1Q2Q3_1',
       'Q1Q2Q3_2', 'Q1Q2Q3_3', 'Q4', 'Q5Q6Q7_1', 'Q5Q6Q7_2', 'Q5Q6Q7_3', 'Q8',
       'Q9Q10Q11_1', 'Q9Q10Q11_2', 'Q9Q10Q11_3', 'Q12', 'SGDQ1234567891011_1',
       'SGDQ1234567891011_2', 'SGDQ1234567891011_3', 'SGDQ1234567891011_4',
       'SGDQ1234567891011_5', 'SGDQ1234567891011_6', 'SGDQ1234567891011_7',
       'SGDQ1234567891011_8', 'SGDQ1234567891011_9', 'SGDQ1234567891011_10',
       'SGDQ1234567891011_11'],
      dtype='object')

In [35]:
# drop unnecessary unnecessary columns in kap2
kap2 = kap2.drop(['StartDate','EndDate', 'Status', 'IPAddress', 'Progress', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
                  'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference', 'LocationLatitude', 'LocationLongitude',
                 'DistributionChannel', 'UserLanguage', 'SGDQ1234567891011_1','SGDQ1234567891011_2', 'SGDQ1234567891011_3', 'SGDQ1234567891011_4',
                  'SGDQ1234567891011_5', 'SGDQ1234567891011_6', 'SGDQ1234567891011_7','SGDQ1234567891011_8', 'SGDQ1234567891011_9', 'SGDQ1234567891011_10',
                  'SGDQ1234567891011_11'], axis = 1)

In [36]:
# drop unnecessary rows
kap2.dropna(subset = ["Random ID"], inplace = True)
kap2 = kap2.iloc[2:]

In [37]:
# drop rows with Nan values?

In [38]:
# drop duplicates
kap2 = kap2.drop_duplicates(subset= 'Random ID', keep='first', inplace=False)

In [39]:
# reset index to "Random ID"
kap2.set_index(["Random ID"], inplace = True, append = True, drop = True)
kap2.reset_index(inplace = True)
kap2.head(10)

,level_0,Random ID,Q1Q2Q3_1,Q1Q2Q3_2,Q1Q2Q3_3,Q4,Q5Q6Q7_1,Q5Q6Q7_2,Q5Q6Q7_3,Q8,Q9Q10Q11_1,Q9Q10Q11_2,Q9Q10Q11_3,Q12
0,4,1034343201,Strongly disagree,Strongly agree,Somewhat agree,True,Strongly agree,Neither agree nor disagree,Somewhat disagree,False,Strongly agree,Somewhat disagree,Neither agree nor disagree,True
1,5,3489602219,Somewhat disagree,Neither agree nor disagree,Strongly agree,True,Neither agree nor disagree,Strongly agree,Somewhat disagree,False,Somewhat agree,Somewhat disagree,Somewhat disagree,True
2,6,9025272566,Somewhat disagree,Strongly agree,Neither agree nor disagree,True,Strongly agree,Somewhat agree,Neither agree nor disagree,True,Strongly agree,Neither agree nor disagree,Neither agree nor disagree,True
3,7,6603259763,Strongly disagree,Strongly agree,Neither agree nor disagree,True,Somewhat agree,Somewhat agree,Strongly disagree,False,Somewhat agree,Somewhat disagree,Somewhat agree,True
4,8,7671412241,Strongly disagree,Somewhat agree,Neither agree nor disagree,True,Strongly agree,Somewhat agree,Somewhat disagree,True,Strongly agree,Somewhat agree,Neither agree nor disagree,True
5,9,7124352876,Somewhat disagree,Neither agree nor disagree,Somewhat disagree,True,Somewhat disagree,Somewhat agree,Somewhat disagree,False,Neither agree nor disagree,Somewhat disagree,Somewhat disagree,True
6,10,2782470529,Neither agree nor disagree,Strongly agree,Somewhat agree,True,Somewhat agree,Neither agree nor disagree,Neither agree nor disagree,False,Somewhat agree,Somewhat agree,Neither agree nor disagree,True

In [40]:
# drop "level_0" column
kap2 = kap2.drop(['level_0'], axis = 1)

In [41]:
# rename columns
kap2.columns = ['RandomID', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11', 'Q12']

In [42]:
# recode Likert Scale wording to numbers
for i in range(len(kap2)):
    if 'Strongly disagree' in kap2.values:
        kap2 = kap2.replace("Strongly disagree", 1)
    if 'Somewhat disagree' in kap2.values:
        kap2 = kap2.replace("Somewhat disagree", 2)
    if 'Neither agree nor disagree' in kap2.values:
        kap2 = kap2.replace("Neither agree nor disagree", 3)
    if 'Somewhat agree' in kap2.values:
        kap2 = kap2.replace("Somewhat agree", 4)    
    if 'Strongly agree' in kap2.values:
        kap2 = kap2.replace("Strongly agree", 5)

In [43]:
# gain insight into kap2
kap2.head()

     RandomID  Q1  Q2  Q3    Q4  Q5  Q6  Q7     Q8  Q9  Q10  Q11   Q12
0  1034343201   1   5   4  True   5   3   2  False   5    2    3  True
1  3489602219   2   3   5  True   3   5   2  False   4    2    2  True
2  9025272566   2   5   3  True   5   4   3   True   5    3    3  True
3  6603259763   1   5   3  True   4   4   1  False   4    2    4  True
4  7671412241   1   4   3  True   5   4   2   True   5    4    3  True

In [44]:
# recode True/False/I Don't Know Questions to 1 for correct answers and 0 for wrong answers
# Q4
kap2.loc[kap2.Q4 == 'True', 'Q4'] = 1
kap2.loc[kap2.Q4 == 'False', 'Q4'] = 0
kap2.loc[kap2.Q4 == "I Don't Know", 'Q4'] = 0

# Q8
kap2.loc[kap2.Q8 == 'True', 'Q8'] = 0
kap2.loc[kap2.Q8 == 'False', 'Q8'] = 1
kap2.loc[kap2.Q8 == "I Don't Know", 'Q8'] = 0

# Q12
kap2.loc[kap2.Q12 == 'True', 'Q12'] = 1
kap2.loc[kap2.Q12 == 'False', 'Q12'] = 0
kap2.loc[kap2.Q12 == "I Don't Know", 'Q12'] = 0

In [45]:
# bring mean construct scores into kap1 df where a_pc, a_er, p_pc are all on the same scale 1-5 and k_pc is on its own scale of 0-1
kap2['post mean a_pc'] = (kap2['Q1'] + kap2['Q7'] + kap2['Q10'])/3
kap2['post mean a_er'] = (kap2['Q2'] + kap2['Q5'] + kap2['Q9'])/3
kap2['post mean p_pc'] = (kap2['Q3'] + kap2['Q6'] + kap2['Q11'])/3
kap2['post mean k_pc'] = (kap2['Q4'] + kap2['Q8'] + kap2['Q12'])/3

In [46]:
# gain insight into kap2
kap2.head()

,RandomID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,post mean a_pc,post mean a_er,post mean p_pc,post mean k_pc
0,1034343201,1,5,4,1,5,3,2,1,5,2,3,1,1.666667,5.000000,3.333333,1
1,3489602219,2,3,5,1,3,5,2,1,4,2,2,1,2.000000,3.333333,4.000000,1
2,9025272566,2,5,3,1,5,4,3,0,5,3,3,1,2.666667,5.000000,3.333333,0.666667
3,6603259763,1,5,3,1,4,4,1,1,4,2,4,1,1.333333,4.333333,3.666667,1
4,7671412241,1,4,3,1,5,4,2,0,5,4,3,1,2.333333,4.666667,3.333333,0.666667

## KAP Comparison

In [47]:
# get rid of additional kap1 and kap2 content related to questions
kap_1 = kap1.drop(['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9',
       'Q10', 'Q11', 'Q12'], axis = 1)

kap_2 = kap2.drop(['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9',
       'Q10', 'Q11', 'Q12'], axis = 1)

In [48]:
# gain insight into kap_1
kap_1.head()

     RandomID  pre mean a_pc  pre mean a_er  pre mean p_pc pre mean k_pc
0  1034343201       2.333333       5.000000       4.333333             1
1  3489602219       2.000000       3.333333       5.000000             1
2  9025272566       3.333333       5.000000       2.666667             1
3  7671412241       2.000000       4.666667       3.666667             1
4  7124352876       2.000000       2.666667       2.333333             1

In [1]:
# gain insight into kap_2
kap_2.head()

NameError: name 'kap_2' is not defined

In [50]:
# merge kap_1 and kap_2 on "Random ID"
kap_12 = pd.merge(kap_1, kap_2, on='RandomID', how='outer')

In [51]:
kap_12.head(10)

,RandomID,pre mean a_pc,pre mean a_er,pre mean p_pc,pre mean k_pc,post mean a_pc,post mean a_er,post mean p_pc,post mean k_pc
0,1034343201,2.333333,5.000000,4.333333,1,1.666667,5.000000,3.333333,1
1,3489602219,2.000000,3.333333,5.000000,1,2.000000,3.333333,4.000000,1
2,9025272566,3.333333,5.000000,2.666667,1,2.666667,5.000000,3.333333,0.666667
3,7671412241,2.000000,4.666667,3.666667,1,2.333333,4.666667,3.333333,0.666667
4,7124352876,2.000000,2.666667,2.333333,1,2.000000,2.666667,2.666667,1
5,6603259763,1.333333,4.333333,3.000000,1,1.333333,4.333333,3.666667,1
6,2782470529,3.333333,4.333333,3.333333,1,3.333333,4.333333,3.333333,1

In [52]:
# calculate differences for pre/post mean a_pc, mean a_er, mean p_pc, and mean k_pc
kap_12['diff_a_pc'] = kap_12['post mean a_pc'] - kap_12['pre mean a_pc']
kap_12['diff_a_er'] = kap_12['post mean a_er'] - kap_12['pre mean a_er']
kap_12['diff_p_pc'] = kap_12['post mean p_pc'] - kap_12['pre mean p_pc']
kap_12['diff_k_pc'] = kap_12['post mean k_pc'] - kap_12['pre mean k_pc']

In [53]:
# gain insight into kap_12
kap_12.head(10)

,RandomID,pre mean a_pc,pre mean a_er,pre mean p_pc,pre mean k_pc,post mean a_pc,post mean a_er,post mean p_pc,post mean k_pc,diff_a_pc,diff_a_er,diff_p_pc,diff_k_pc
0,1034343201,2.333333,5.000000,4.333333,1,1.666667,5.000000,3.333333,1,-0.666667,0.0,-1.000000,0
1,3489602219,2.000000,3.333333,5.000000,1,2.000000,3.333333,4.000000,1,0.000000,0.0,-1.000000,0
2,9025272566,3.333333,5.000000,2.666667,1,2.666667,5.000000,3.333333,0.666667,-0.666667,0.0,0.666667,-0.333333
3,7671412241,2.000000,4.666667,3.666667,1,2.333333,4.666667,3.333333,0.666667,0.333333,0.0,-0.333333,-0.333333
4,7124352876,2.000000,2.666667,2.333333,1,2.000000,2.666667,2.666667,1,0.000000,0.0,0.333333,0
5,6603259763,1.333333,4.333333,3.000000,1,1.333333,4.333333,3.666667,1,0.000000,0.0,0.666667,0
6,2782470529,3.333333,4.333333,3.333333,1,3.333333,4.333333,3.333333,1,0.000000,0.0,0.000000,0

In [54]:
# write kap_12 to csv
kap_12.to_csv('data/interim/kap12_practice_clean.csv', encoding='utf-8', index=False)

## Effectiveness of Participatory SGD Workshops - Construct

#### Create "Effectiveness of Participatory SGD Workshops" construct dataframe where:

Total Effectiveness of Participatory SGD Workshops:
* Q1, Q2, Q3, Q4, Q5, Q6, Q7, Q8, Q9, Q10, Q11

Structure & Flow of Participatory SGD Workshops:
* Q1, Q2, Q3

Usability of Participatory SGD Workshops:
* Q4, Q5, Q6, Q7

Team Communication of Participatory SGD Workshops:
* Q8, Q9, Q10, Q11

In [81]:
# gain insight into sgd
sgd.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,SGDQ1234567891011_2,SGDQ1234567891011_3,SGDQ1234567891011_4,SGDQ1234567891011_5,SGDQ1234567891011_6,SGDQ1234567891011_7,SGDQ1234567891011_8,SGDQ1234567891011_9,SGDQ1234567891011_10,SGDQ1234567891011_11
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...,Please indicate how much you agree/disagree wi...
1,"{""ImportId"":""startDate"",""timeZone"":""America/Lo...","{""ImportId"":""endDate"",""timeZone"":""America/Los_...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID12_2""}","{""ImportId"":""QID12_3""}","{""ImportId"":""QID12_4""}","{""ImportId"":""QID12_5""}","{""ImportId"":""QID12_6""}","{""ImportId"":""QID12_7""}","{""ImportId"":""QID12_8""}","{""ImportId"":""QID12_10""}","{""ImportId"":""QID12_9""}","{""ImportId"":""QID12_11""}"
2,2021-07-07 15:36:47,2021-07-07 15:37:16,Survey Preview,NaN,100,28,True,2021-07-07 15:37:17,R_2rGVuHH3wLN4JdY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-07-07 15:39:48,2021-07-07 15:40:05,Survey Preview,NaN,100,17,True,2021-07-07 15:40:06,R_2dgMLB4pjD0YVsM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-07-08 17:08:27,2021-07-08 18:57:42,IP Address,65.183.131.208,100,6554,True,2021-07-08 18:57:42,R_2Pd0BOODoqvnQIO,NaN,...,Strongly agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Strongly agree

In [82]:
# get names of columns
print(sgd.columns)

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Random ID', 'Q1Q2Q3_1',
       'Q1Q2Q3_2', 'Q1Q2Q3_3', 'Q4', 'Q5Q6Q7_1', 'Q5Q6Q7_2', 'Q5Q6Q7_3', 'Q8',
       'Q9Q10Q11_1', 'Q9Q10Q11_2', 'Q9Q10Q11_3', 'Q12', 'SGDQ1234567891011_1',
       'SGDQ1234567891011_2', 'SGDQ1234567891011_3', 'SGDQ1234567891011_4',
       'SGDQ1234567891011_5', 'SGDQ1234567891011_6', 'SGDQ1234567891011_7',
       'SGDQ1234567891011_8', 'SGDQ1234567891011_9', 'SGDQ1234567891011_10',
       'SGDQ1234567891011_11'],
      dtype='object')

In [83]:
# drop unnecessary unnecessary columns in sgd
sgd = sgd.drop(['StartDate','EndDate', 'Status', 'IPAddress', 'Progress', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
                  'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference', 'LocationLatitude', 'LocationLongitude',
                 'DistributionChannel', 'UserLanguage','Q1Q2Q3_1', 'Q1Q2Q3_2', 'Q1Q2Q3_3', 'Q4', 'Q5Q6Q7_1', 'Q5Q6Q7_2', 'Q5Q6Q7_3', 'Q8', 
                  'Q9Q10Q11_1', 'Q9Q10Q11_2', 'Q9Q10Q11_3', 'Q12', ], axis = 1)

In [84]:
# drop unnecessary rows
sgd.dropna(subset = ["Random ID"], inplace = True)
sgd = sgd.iloc[2:]

In [85]:
# drop duplicates
sgd = sgd.drop_duplicates(subset= 'Random ID', keep='first', inplace=False)

In [86]:
# reset index to "Random ID"
sgd.set_index(["Random ID"], inplace = True, append = True, drop = True)
sgd.reset_index(inplace = True)
sgd.head(10)

,level_0,Random ID,SGDQ1234567891011_1,SGDQ1234567891011_2,SGDQ1234567891011_3,SGDQ1234567891011_4,SGDQ1234567891011_5,SGDQ1234567891011_6,SGDQ1234567891011_7,SGDQ1234567891011_8,SGDQ1234567891011_9,SGDQ1234567891011_10,SGDQ1234567891011_11
0,4,1034343201,Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Strongly agree
1,5,3489602219,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Somewhat agree,Strongly agree,Strongly agree,Somewhat agree,Strongly agree
2,6,9025272566,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Strongly agree,Strongly agree,Somewhat agree,Strongly agree
3,7,6603259763,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Strongly agree,Neither agree nor disagree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree
4,8,7671412241,Somewhat agree,Somewhat disagree,Strongly agree,Somewhat agree,Somewhat disagree,Strongly agree,Somewhat agree,Strongly agree,Somewhat disagree,Somewhat agree,Neither agree nor disagree
5,9,7124352876,Somewhat agree,Somewhat agree,Strongly agree,Somewhat disagree,Somewhat agree,Strongly agree,Somewhat agree,Somewhat agree,Strongly agree,Strongly agree,Strongly agree
6,10,2782470529,Strongly agree,Somewhat agree,Strongly agree,Strongly agree,Somewhat agree,Somewhat agree,Strongly agree,Strongly agree,Somewhat agree,Somewhat agree,Strongly agree

In [87]:
# drop "level_0" column
sgd = sgd.drop(['level_0'], axis = 1)

In [88]:
# rename columns
sgd.columns = ['RandomID', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11']

In [89]:
sgd.head()

,RandomID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11
0,1034343201,Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Strongly agree
1,3489602219,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Somewhat agree,Strongly agree,Strongly agree,Somewhat agree,Strongly agree
2,9025272566,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Strongly agree,Strongly agree,Somewhat agree,Strongly agree
3,6603259763,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Strongly agree,Neither agree nor disagree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree
4,7671412241,Somewhat agree,Somewhat disagree,Strongly agree,Somewhat agree,Somewhat disagree,Strongly agree,Somewhat agree,Strongly agree,Somewhat disagree,Somewhat agree,Neither agree nor disagree

In [90]:
# recode Likert Scale wording to numbers
for i in range(len(sgd)):
    if 'Strongly disagree' in sgd.values:
        sgd = sgd.replace("Strongly disagree", 1)
    if 'Somewhat disagree' in sgd.values:
        sgd = sgd.replace("Somewhat disagree", 2)
    if 'Neither agree nor disagree' in sgd.values:
        sgd = sgd.replace("Neither agree nor disagree", 3)
    if 'Somewhat agree' in sgd.values:
        sgd = sgd.replace("Somewhat agree", 4)    
    if 'Strongly agree' in sgd.values:
        sgd = sgd.replace("Strongly agree", 5)

In [91]:
# gain insight into sgd
sgd.head()

     RandomID  Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  Q10  Q11
0  1034343201   5   5   5   4   5   4   5   5   5    3    5
1  3489602219   4   5   5   5   5   4   4   5   5    4    5
2  9025272566   5   5   5   5   5   5   4   5   5    4    5
3  6603259763   4   4   4   4   4   5   3   4   5    4    5
4  7671412241   4   2   5   4   2   5   4   5   2    4    3

In [92]:
# bring mean construct scores into sgd df where a_pc, a_er, p_pc are all on the same scale 1-5
sgd['total mean sgd_effect'] = (sgd['Q1'] + sgd['Q2'] + sgd['Q3'] + sgd['Q4'] + sgd['Q5'] + sgd['Q6'] + sgd['Q7'] + sgd['Q8'] + 
                          sgd['Q9'] + sgd['Q10'] + sgd['Q11'])/11
sgd['mean sgd_sf'] = (sgd['Q1'] + sgd['Q2'] + sgd['Q3'])/3
sgd['mean sgd_u'] = (sgd['Q4'] + sgd['Q5'] + sgd['Q6'] + sgd['Q7'])/4
sgd['mean sgd_tc'] = (sgd['Q8'] + sgd['Q9'] + sgd['Q10'] + sgd['Q11'])/4

In [94]:
# gain insight into sgd
sgd.head(10)

,RandomID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,total mean sgd_effect,mean sgd_sf,mean sgd_u,mean sgd_tc
0,1034343201,5,5,5,4,5,4,5,5,5,3,5,4.636364,5.000000,4.50,4.50
1,3489602219,4,5,5,5,5,4,4,5,5,4,5,4.636364,4.666667,4.50,4.75
2,9025272566,5,5,5,5,5,5,4,5,5,4,5,4.818182,5.000000,4.75,4.75
3,6603259763,4,4,4,4,4,5,3,4,5,4,5,4.181818,4.000000,4.00,4.50
4,7671412241,4,2,5,4,2,5,4,5,2,4,3,3.636364,3.666667,3.75,3.50
5,7124352876,4,4,5,2,4,5,4,4,5,5,5,4.272727,4.333333,3.75,4.75
6,2782470529,5,4,5,5,4,4,5,5,4,4,5,4.545455,4.666667,4.50,4.50

In [95]:
# write sgd to csv
sgd.to_csv('data/interim/sgd_practice_clean.csv', encoding='utf-8', index=False)